<body class="text-center">

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="guest-form-card card">

                <div class="card-header text-centre">
                    <h2>LOGIN</h2>                
                </div>

                <div class="card-body">                    
                    <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
                        
                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" id="inputEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email address" required autofocus>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                            <!-- <p>Valid :: {{ email.valid }}</p>
                            <p>Invalid :: {{ email.invalid }}</p>
                            <p>Touched :: {{ email.touched }}</p>
                            <p>Untouched :: {{ email.untouched }}</p>
                            <p>dirty :: {{ email.dirty }}</p>
                            <p>pristine :: {{ email.untouched }}</p> -->
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" required>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Email is required</div>
                            </div>
                        
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Login
                                </button>
                                <a routerLink="../register" class="btn btn-link">Register</a>
                            </div>
                    </form>
                </div>  

            </div>
        </div>  
    </div>


</body>
