<div class="card mb-4 box-shadow">
    <img class="card-img-top" src="assets/images/artur.jpeg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        <strong>{{ 420 | currency:'EUR' }}</strong>
      </p>
      <p class="card-text">This is Artur. He can do develope.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-primary product-btn">Add to cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>        
      </div>
    </div>