/*master styles*/
body {
    margin: 0px;
}


.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}


.container {
  display: grid;
  grid-template-columns: 1fr;
}

/*portfoli styles*/

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 0.7s;
  color: transparent;
}

.image-blur {
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  -moz-filter: brightness(10%);
  -webkit-filter: brightness(10%);
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  color: lightseagreen;
  font-weight: 600;  
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;  
}

.remove-button{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgb(255, 189, 189); 
}


.guest-form-card h2{
  text-transform: uppercase;
  font-size: medium;
}

.guest-form-card label{
  font-size: small;
}