<body class="text-center">

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="guest-form-card card">

                <div class="card-header text-centre">
                    <h2>REGISTER</h2>                
                </div>

                <div class="card-body">                    
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        
                        <div class="form-group">
                            <label for="firstName" class="sr-only">First Name</label>
                            <input 
                                type="text" 
                                id="firstName" 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': registerForm.get('firstName').touched && registerForm.get('firstName').invalid }"
                                placeholder="First Name" 
                                formControlName="firstName" 
                                autofocus>
                            <span class="invalid-feedback">First Name can't be blank.</span>                            
                        </div>

                        <div class="form-group">
                            <label for="lastName" class="sr-only">Last Name</label>
                            <input 
                                type="text" 
                                id="lastName" 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': registerForm.get('lastName').touched && registerForm.get('lastName').invalid }" 
                                placeholder="Last Name" 
                                formControlName="lastName">
                            <span class="invalid-feedback">Last Name can't be blank.</span>                            
                        </div>
                    
                        <div class="form-group">
                            <label for="email" class="sr-only">Email Address</label>
                            <input 
                                type="email" 
                                id="inputEmail" 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': registerForm.get('email').touched && registerForm.get('email').invalid }" 
                                placeholder="Email Address" 
                                formControlName="email">
                            <span class="invalid-feedback">
                                <span *ngIf="registerForm.get('email').hasError('required')">Email Address can't be blank.</span>
                                <span *ngIf="registerForm.get('email').hasError('email')">Email Address must be valid.</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input 
                                type="password" 
                                id="password" 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': registerForm.get('password').touched && registerForm.get('password').invalid }" 
                                placeholder="Password" 
                                formControlName="password"> 
                            <span class="invalid-feedback">
                                 <span *ngIf="registerForm.get('password').hasError('required')">Password can't be blank.</span>
                                <span *ngIf="registerForm.get('password').hasError('symbol')">Password must contain @</span>
                                <span *ngIf="registerForm.get('password').hasError('minlength')">Password must be atleast 6 characters long</span>
                            </span>
                        </div>    
                        
                        <div class="form-group">
                            <label for="confirmPassword" class="sr-only">Confirm Password</label>
                            <input 
                                type="password" 
                                id="confirmPassword" 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid }" 
                                placeholder="Confirm Password" 
                                formControlName="confirmPassword">
                            <span class="invalid-feedback">Passwords have to match.</span>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="registerForm.invalid">Register</button>  
                    </form>
                </div>  

            </div>
        </div>  
    </div>


</body>
