<div class="card mb-4 box-shadow">
    <img class="card-img-top" width="100%" [src]="productItem.image" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        <strong>{{ productItem.price | currency:'EUR' }}</strong>
      </p>
      <p class="card-text">{{ productItem.description }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
           type="button"
           class="btn btn-sm btn-outline-primary product-btn"
           (click)="handleAddToCart()"
          >Add to cart
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
      </div>
    </div>
