  
<div class="row">
    <div class="col-md-8 col-sm-12">
      <ng-container>
        <ng-container>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">Order Details</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <span class="font-weight-bold">Customer Name: Artur</span>
                </li>
                <li class="list-group-item">
                  <span class="font-weight-bold">Order Date: 23.11.2020</span>
                </li>
                <li class="list-group-item"><span class="font-weight-bold">Order:</span>
                  <div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"> Auto                        
                        <div class="float-right">100£</div>
                      </li>
                      <li class="list-group-item">
                          <span class="font-weight-bold">Total: 69420</span>
                          <div class="float-right"></div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="list-group-item"><span class="font-weight-bold">Shipping Address: Tartu kuskil</span>
                  <div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"> Name : ARtur</li>
                      <li class="list-group-item"> Address Line 1 : Tartu küla</li>
                      <li class="list-group-item"> Address Line 2 : Tartu </li>
                      <li class="list-group-item"> City : Tartu</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </ng-container>
        <ng-template #notFound>
          Opps! Details not found.
        </ng-template>
      </ng-container>
    </div>
  </div>