

<h1>Tere tulemast DriveBy veebipoodi!</h1>

<body>
<div class="content-wrapper">

  <div class="portfolio-items-wrapper">

    <div class="portfolio-item-wrapper">

      <div class="portfolio-img-background" style="background-image:url(assets/images/car.jpeg)"></div>

      <div class="img-text-wrapper">
        <div class="logo-wrapper">
          <img src="assets/images/logos/carlogo.jpg" alt=""/>
        </div> 
        
        <div class="subtitle">Cars</div>
      </div>
    </div>

    <div class="portfolio-item-wrapper">

      <div class="portfolio-img-background" style="background-image:url(assets/images/motorcycle.jpeg)"></div>

      <div class="img-text-wrapper">
        <div class="logo-wrapper">
          <img src="assets/images/logos/motorcyclelogo.png" alt="" />
        </div>    
        
        <div class="subtitle">Motorcycles</div>
      </div>
    </div>

    <div class="portfolio-item-wrapper">

      <div class="portfolio-img-background" style="background-image:url(assets/images/bicycle.jpeg)"></div>

      <div class="img-text-wrapper">
        <div class="logo-wrapper">
          <img src="assets/images/logos/bicyclelogo.jpeg" alt="" />
        </div>      
        
        <div class="subtitle">Bicycles</div>
      </div>
    </div>

    <div class="portfolio-item-wrapper">

      <div class="portfolio-img-background" style="background-image:url(assets/images/skateboard.jpg)"></div>

      <div class="img-text-wrapper">
        <div class="logo-wrapper">
          <img src="assets/images/logos/skateboardlogo.png" alt="" />
        </div>      
        
        <div class="subtitle">Skateboards</div>
      </div>
    </div>

    <div class="portfolio-item-wrapper">

      <div class="portfolio-img-background" style="background-image:url(assets/images/scooter.jpg)"></div>

      <div class="img-text-wrapper">
        <div class="logo-wrapper">
          <img src="assets/images/logos/scooterlogo.jpeg" alt="" />
        </div> 
        
        <div class="subtitle">Scooters</div>
      </div>
    </div>

    <div class="portfolio-item-wrapper">

      <div class="portfolio-img-background" style="background-image:url(assets/images/tools.jpg)"></div>

      <div class="img-text-wrapper">
        <div class="logo-wrapper">
          <img src="assets/images/logos/toolslogo.jpeg" alt="" />
        </div>     
        
        <div class="subtitle">Tools</div>
      </div>
    </div>

  </div>
</div>
</body>

<script>
  const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper');

  portfolioItems.forEach(portfolioItem => {
    portfolioItem.addEventListener('mouseover', () => {     
      console.log(portfolioItem.childNodes[1].classList)
      portfolioItem.childNodes[1].classList.add('image-blur');
    });

    portfolioItem.addEventListener('mouseout', () => {      
      portfolioItem.childNodes[1].classList.remove('image-blur');
    });
  });
</script>
